.about {
  max-width: 550px;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .about {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
