.about {
  max-width: 550px;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  gap: 3rem;
}

.description p {
  max-width: 600px;
  font-size: 18px;
  color: #4e4e4e;
  font-weight: 400;
}

.description h2 {
  font-size: 18px;
  font-weight: 500;
  color: #0f0518;
}
.description .githubBtn {
  background: #fff;
  border-radius: 26px;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  border: 1px solid #ccc;
}

.description .githubBtn div {
  display: flex;
  align-items: center;
}

.create {
  max-width: 600px;
  font-size: 30px;
}

.createBtn {
  background: #000 !important;
  color: #fff !important;
  border-radius: 26px !important;
  max-width: 128px !important;
  padding: 5px 30px !important;
}

.inspHeader {
  font-size: 27px !important;
  color: #000 !important;
  font-weight: 600 !important;
  font-weight: bolder;
  margin: 1rem 0;
}

.inspInfo {
  max-width: 560px !important;
  font-size: 14px !important;
  color: #4e4e4e;
}

.inspMain {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.inspMainProduct {
  display: flex;
  flex-direction: column;
}
.inspFooter {
  height: 5rem;
  box-shadow: 0px -43px 145px 0px rgb(31 167 31);
  padding: 1rem;
  background: #000;
  border-radius: 9px;
  max-width: 800px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inspFooter p,
.productFooter p,
.deployFooter p {
  color: #ccc;
  font-size: 20px;
}

.vercelQuote {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.vercelQuote p {
  font-size: 16px;
  color: #4e4e4e;
}
.inspFooterCircleArrow {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.publishContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
}
.productFooter {
  height: 5rem;
  box-shadow: -1px -30px 81px 4px rgba(250, 116, 0, 0.75);
  padding: 1rem;
  background: #000;
  border-radius: 9px;
  max-width: 800px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.productCard {
  background: #fff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 500px;
  gap: 1rem;
}

.productCardHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.productCardHeader p {
  font-weight: bolder;
}
.productCardContent {
  color: #4e4e4e;
  font-size: 14px;
}
.productCardFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #4e4e4e;
}

.productCardFooterIcon {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.deploySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.deployFooter {
  height: 5rem;
  box-shadow: -3px -38px 134px 14px rgba(99, 3, 116, 0.75);
  padding: 1rem;
  background: #000;
  border-radius: 9px;
  max-width: 800px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.deployFootnote {
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.deployProductContainer {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.deployProductCard {
  background: #fff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 500px;
  gap: 1rem;
  z-index: 2;
}
.deployProductCard:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.deployProductCard:nth-child(1) .deployProductCardHeader {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  border-bottom: 0.4px solid #ccc;
}

.deployProductCard:nth-child(1) .deployProductCardHeader p:nth-child(1) {
  font-weight: 500;
  font-size: 21px;
  color: #000;
  text-align: left;
}
.deployProductCard:nth-child(1) .deployProductCardHeader p:nth-child(2) {
  font-weight: 300;
  font-size: 10px;
  color: gray;
  text-align: left;
}
.deployProductCard:nth-child(1) .deployProductCardHeader button {
  padding: 0.3rem 1rem;
  margin: 1rem 0;
  background: #3373be;
  color: #fff;
  text-align: left;
  border-radius: 7px;
}

.deployProductCardFooter {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
  font-size: 25px;
}

.deployProductCard:nth-of-type(2) {
  padding: 0;
  gap: 2rem;
}
.deployProductCard:nth-of-type(2) .deployProductCardHeader {
  background: #000;
  border-radius: 8px 8px 0 0;
  height: 11.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5rem;
  padding-top: 2rem;
  gap: 2rem;
  font-size: 17px;
}

.deployProductCard:nth-of-type(2) .deployProductCardHeader p {
  color: #ccc;
  text-align: left;
}

.deployProductCard:nth-of-type(2) .deployProductCardHeader button {
  padding: 0.3rem 1rem;
  background: #66b58e;
  color: #000;
  border-radius: 4px;
}

.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13rem;
  box-shadow: 2px -16px 129px 16px rgba(212, 92, 24, 0.75);
  padding: 1rem;
  background: #000;
  border-radius: 9px;
  max-width: 800px;
  width: 650px;
  gap: 3rem;
  color: #fff;
  margin: 4rem auto;
}

.getStarted h1 {
  font-size: 35px;
  font-weight: 500;
}
.getStarted p {
  font-size: 14px;
  font-weight: 300;
}

.getStartedFooterCircleArrow {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-end;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.footerMain {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.footer ul li {
  color: #4e4e4e;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.footer ul li:first-child {
  margin-bottom: 1rem;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}

.footerSocial {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.footerSub {
  display: flex;
  gap: 4rem;

  max-width: 1200px;
  width: 100%;
}

.footer a {
  color: #ccc !important;
}
@media screen and (max-width: 870px) {
  .inspFooter,
  .productFooter,
  .deployFooter {
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .inspFooter p,
  .productFooter p,
  .deployFooter p {
    font-size: 25px;
    text-align: left;
  }
  .inspFooterCircleArrow {
    margin-left: auto;
    margin-top: 3rem;
  }
  .productContainer {
    flex-direction: column;
    align-items: center;
  }
  .productCard {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .deploySection {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .deployProductContainer {
    flex-direction: column;
  }

  .deployProductCard:nth-of-type(2) .deployProductCardHeader {
    height: auto;
    padding-bottom: 1rem;
  }

  .getStarted {
    width: auto;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .about {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .productCardFooter {
    width: auto;
    gap: 0;
    justify-content: space-between;
  }
  .deployProductCard:nth-child(1) .deployProductCardHeader {
    padding-left: 0;
  }

  .deployProductCard:nth-of-type(2) .deployProductCardHeader {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .footerMain {
    flex-direction: column;
    gap: 1rem;
  }
  .footerMain div:first-of-type {
    order: 4;
  }
}
